<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="like">
      <h2 data-cy="likeDetailsHeading"><span jhiTranslate="blogApp.like.detail.title">Like</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ like.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.like.person">Person</span></dt>
        <dd>
          <div *ngIf="like.person">
            <a [routerLink]="['/person', like.person.id, 'view']">{{ like.person?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.like.post">Post</span></dt>
        <dd>
          <div *ngIf="like.post">
            <a [routerLink]="['/post', like.post.id, 'view']">{{ like.post?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/like', like.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
